/* -- Lato Font -- */
@font-face {
 font-family: 'Lato';
 src: url('fonts/FontName.eot');
 src: url('fonts/FontName.eot?#iefix') format('embedded-opentype'),
 url('fonts/FontName-webfont.wofnf') format('woff'),
 url('fonts/FontName-webfont.ttf') format('truetype'),
 url('fonts/FontName-webfont.svg#FontName') format('svg');
 font-weight: normal;
 font-style: normal;
}


/* -- Icon Fonts -- */
@font-face {
	font-family: 'kp-icons';
	src:url('fonts/kp-icons.eot?lpm3u5');
	src:url('fonts/kp-icons.eot?#iefixlpm3u5') format('embedded-opentype'),
		url('fonts/kp-icons.woff?lpm3u5') format('woff'),
		url('fonts/kp-icons.ttf?lpm3u5') format('truetype'),
		url('fonts/kp-icons.svg?lpm3u5#kp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'kp-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 60px;
}

[class^="social-icon-"], [class*=" social-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 750px) {
[class^="social-icon-"], [class*=" social-icon-"] {
	font-size: 18px;}
}
/* LINE ICON FONTS*/

.icon-fashion:before {
	content: "\e600";
}
.icon-jq:before {
	content: "\e601";
}
.icon-AfterEffects:before {
	content: "\e602";
}
.icon-airplane:before {
	content: "\e603";
}
	.icon-airplane:hover {
		color: #3A539B;
	}

.icon-android:before {
	content: "\e604";
}
.icon-autocad:before {
	content: "\e605";
}
.icon-camera:before {
	content: "\e606";
}
.icon-code:before {
	content: "\e607";
}

.icon-css:before {
	content: "\e608";
}
.icon-dance:before {
	content: "\e609";
}
.icon-design:before {
	content: "\e60a";
}

.icon-doc:before {
	content: "\e60b";
}
.icon-fun:before {
	content: "\e60c";
}

.icon-heart:before {
	color: red;
	font-size: 40px;
	content: "\e60d";
}
.icon-html:before {
	content: "\e60e";
}
.icon-Illustrator:before {
	content: "\e60f";
}
.icon-Indesign:before {
	content: "\e610";
}
.icon-js:before {
	content: "\e611";
}
.icon-Lightroom:before {
	content: "\e612";
}
.icon-movies:before {
	content: "\e613";
}
.icon-music:before {
	content: "\e614";
}
.icon-Photoshop:before {
	content: "\e615";
}
.icon-Premiere:before {
	content: "\e616";
}
.icon-volunteer:before {
	content: "\e617";
}
.icon-windows:before {
	font-size: 50px;
	content: "\e618";
}

/*  SOCIAL ICONS */

.social-icon-facebook:before {
    content: '\e601';
}

.social-icon-tumblr:before {
    content: '\e703';
}

.social-icon-twitter:before {
    content: '\e603';
}
.social-icon-instagram:before {
    content: '\e712';
}

.social-icon-flickr:before {
    content: '\e604';
}
.social-icon-behance:before {
    content: '\e71e';
}
.social-icon-linkedin:before {
    content: '\e705';
}
