* {
	font-family: Lato, Helvetica, sans-serif;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

body {
	background-color: white;
	width: 100%;
	max-height: 100%;
}
#container {
	width: 100%;
	min-height: 100%;
}

h1 {
	font-weight: 100;
}

h2 {
	font-size: 50px;
}

h3 {
	font-weight: 200;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: black;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 140px;
	background-color: rgba(255, 255, 255, 0.97);
	margin-bottom: 150px;
	color: black;
	z-index: 100;
	/*-webkit-box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);
	-moz-box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);
	box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);*/
}

hr {
	position: fixed;
	top: 140px;
	left: 2.5%;
	border-top: 1px solid #eaeaea;
	text-align: center;
	z-index: 10;
}

@media screen and (max-width: 750px) {
	hr {
		z-index: 7;
	}
}


#main-Logo {
	width: 70px;
	float: left;
	position: absolute;
	margin-left: 110px;
	margin-top: 35px;
	opacity: 0.7;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	transition: all 0.2s;

}

#main-Logo:hover {
	opacity: 1;
	-webkit-transform: scale(1.15); /* IE 9 */
    -moz-transform: scale(1.15); /* Chrome, Safari, Opera */
    transform: scale(1.15);
}

#intro-Text {
	position: relative;
	max-width: 1024px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}

#intro-Text h1 {
	margin-left: 35px;
	margin-bottom: 10px;
}

#intro-Text h1 em {
	position: relative;
	font-family: Didot, Georgia, serif;
	letter-spacing: -5px;
	text-align: center;
	font-size: 4.0em;
}

#intro-Text p {
	position: relative;
	width: 600px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
}

@media screen and (max-width: 750px) {
	#main-Logo {
		position: absolute;
		width: 80px;
		left: 0;
		right: 0;		
		margin-left: auto;
		margin-right: auto;
	}

	#intro-Text h1 em {font-size: 2.5em;}
	#intro-Text p {
		font-size: 24px;
		width: 400px;
		line-height: 30px;;
		padding: 0 20px 0 20px; ;
	}
}

.bold {
	color: #eeb301;

}


.icon {
	text-decoration: none;
	font-family: kp-icons, sans-serif;
	font-size: 4em;
	color: #d9d9d9;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}


.icon:hover {
	cursor: pointer;
}

.icon-design:hover {color: #8E44AD;}
.icon-code:hover {color: #4183D7;}
.icon-fun:hover{color: #F62459;}

.icon-design.active {color: #8E44AD;}
.icon-code.active {color: #4183D7;}
.icon-fun.active {color: #F62459;}


#skills {
	position: relative;
	margin: 0 auto 45px auto;
	text-align: center;
}

#skills a {
	margin-left: 50px;
	margin-right: 50px;
}

.tab-Title {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

/*   TOOLSET GRID   */
.toolset-grid {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 30px auto 30px auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}

.toolset-grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  text-align: center;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.grid-caption {
	padding-top: 5px;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.col-1-4 {
	width: 25%;
}
.col-1-3 {
	width: 33%;
}
.col-1-7 {
	width: 14%;
}
.col-3-4 {
	width: 75%;
}

.content {
	background-color: #8E44AD;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.code, .design, .travel, .fun {
	position: relative;
	display: none;
	color: white;
	margin: 0 auto 0 auto;
	padding: 30px 0 40px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.code {
}

.design {
	height: auto;
}

.fun {
}

.travel {
	color: black;
}

#current-Tab {
	text-transform: uppercase;
	display: inline;
	overflow: hidden;
}

.work-titles {
	font-family: Didot, Georgia, serif;
	font-size: 80px;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	margin: 60px 0 0 0;
	letter-spacing: -5px;
}
.work-grid hr, .bottom hr {
	position: relative; 
	top: 0;
	left: 0;
	margin: 0 auto 70px auto;
	text-align: center;
	z-index: 4;
}
#bottom {
	padding-bottom: 60px;
}
.bottom {
	padding-bottom: 60px;
    bottom: 0;
    width: 100%; 
    z-index: -1;
}

.bottom hr {margin-bottom: 20px; }

.bottom h1 {font-size: 50px; }

.bottom h3 {
	font-size: 20px;
	opacity: 0.35;
	font-weight: 300;
	margin-top: 1px;
}

@media screen and (max-width: 750px) {
	.bottom h1 {font-size: 30px;}
	.work-titles {
		font-size: 50px;
		letter-spacing: -3px;
	}
}

.bottom div img {
	position: relative;
	display: block;
	opacity: 0.2;
	margin: 40px auto 0 auto;
	width: 250px;

}

.contact-info {
	text-align: center;
	display: block;
	font-weight: 200;
	margin: 0;
}


.email {
	font-size: 20px;
	opacity: 0.3;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.email:hover {opacity: 1;}

#social {
	text-align: center;
    list-style: none;
    margin: 10px auto 0 auto;
} 

#social a {
	opacity: 0.4;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#social a:hover { opacity: 1; }

#social li {
	margin-left: 15px;
	margin-right: 15px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#social li {
	margin-left: 7px;
	margin-right: 7px;
}

.social-icon {
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;


}

#social li:hover{ 
    -webkit-transform: translate(0px, -3px); 
    -moz-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
}
