* {
	font-family: Lato, Helvetica, sans-serif;
}

body {
	background-color: white;
}

h1 {
	font-weight: 100;
}

h2 {
	font-size: 50px;
}

h3 {
	font-weight: 200;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: black;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 165px;
	background-color: rgba(255, 255, 255, 0.97);
	margin-bottom: 150px;
	color: black;
	z-index: 10;
	/*-webkit-box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);
	-moz-box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);
	box-shadow: 0px 10px 40px 30px rgba(255,255,255,1);*/
}

hr {
	position: fixed;
	top: 165px;
	left: 2.5%;
	height: 1px;
	text-align: center;
	z-index: 10;
}

@media screen and (max-width: 640px) {
	hr {
		z-index: 7;
	}
}

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#main-Logo {
	width: 100px;
	float: left;
	position: absolute;
	margin-left: 110px;
	margin-top: 25px;
	opacity: 0.7;
	-webkit-transition: all 0.2s;
  	-moz-transition: all 0.2s;
  	transition: all 0.2s;

}

#main-Logo:hover {
	opacity: 1;
	-webkit-transform: scale(1.05); /* IE 9 */
    -moz-transform: scale(1.05); /* Chrome, Safari, Opera */
    transform: scale(1.05);
}

#intro-Text {
	position: relative;
	max-width: 1024px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
}

#intro-Text h1 {
	margin-left: 35px;
	margin-bottom: 10px;
}

#intro-Text h1 em {
	position: relative;
	font-family: Didot, Georgia, serif;
	letter-spacing: -5px;
	text-align: center;
	font-size: 4.0em;
}

#intro-Text p {
	position: relative;
	width: 640px;
	line-height: 45px;
	margin-left: auto;
	margin-right: auto;
	font-size: 36px;
}

.bold {
	color: #eeb301;

}

.icon {
	text-decoration: none;
	font-family: kp-icons, sans-serif;
	font-size: 4em;
	color: #d9d9d9;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}


.icon:hover {
	cursor: pointer;
}

.icon-design:hover {color: #8E44AD;}
.icon-code:hover {color: #6C7A89;}
.icon-fun:hover{color: #F62459;}

#skills {
	position: relative;
	margin: 0 auto 30px auto;
	text-align: center;
}

#skills a {
	margin-left: 50px;
	margin-right: 50px;
}

.tab-Title {
	position: relative;
	text-align: center;
	margin-bottom: 20px;
}

/*   TOOLSET GRID   */
.grid-toolset {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 30px auto 30px auto;

}

.grid-toolset:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  text-align: center;
}

.grid-caption {
	padding-top: 5px;
	font-size: 16px;
}

.col-1-4 {
	width: 25%;
}
.col-1-3 {
	width: 33%;
}
.col-1-7 {
	width: 14%;
}


.code, .design, .travel, .fun {
	position: relative;
	display: none;
	color: white;
	margin: 0;
}

.code {
	background-color: #6C7A89;
}

.design {
	background-color: rgba(142, 68, 173, 0.8);
	height: auto;
}

.fun {
	background-color: #F62459;
}

.travel {
	background-color: black;
}

#current-Tab {
	text-transform: uppercase;
	display: inline;
	width: 10px;	
	overflow: hidden;
}

footer {
	background-image: url('../img/mainBack.jpg');
	background-size: cover;
	background-position: 0px -150px;
	background-repeat: no-repeat;
	height:200px;
}


