/* -- Work Page Stylings -- */

.description span {
	color: red;
	font-weight: 800;
}

@media screen and (min-width: 750px) {
	#work-item {
		position: relative;
		margin: 170px 0 60px 110px;
	}

	.work-title {
		margin: 0;
		font-size: 40px;
	}

	.company {
		position: relative;
		float: right;
		margin-right: 110px;
		line-height: 2.5em;
		margin-top: -85px;
	}

	.company figcaption {
		font-weight: 300;
	}

	.company-logo {
		float: right;
		width: 120px;
	}

	.year {
		text-align: right;
	}

	.position {
		margin-top: 10px;	
		font-weight: 300;
		font-size: 20px;
	}

	.work-slider {
		position: relative;
	}

	.work-details {
		width: 100%;
		height: 200px;
		margin-bottom: 40px;
	}

	.description {
		position: relative;
		color: #a1a1a1;
		float: left;
		margin-left: 110px;
		padding-right: 50px;
		width: 45%;
		border-right: 1px solid #ccc;
	}

	.work-links {
		float: right;
		width: 35%;
	}

	.full-details {
		position: relative;
		top:10px;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-size: 16px;
		padding: 10px 15px;
		border: 1px solid transparent;
		border-bottom: 1px solid #e9e9e9;
		margin: 0 auto 10px auto;
	}

	.full-details:hover {
		color: #eeb301;
		border: 1px solid #000;

	}

	.work-nav {
		margin-top: 50px;
	}

	.work-nav span {
		padding-right: 70px;
	}

	

	#owl-demo {
		width: 700px;
		display: block;
		overflow: hidden;
		text-align: center;
		margin: 10px auto 45px auto;
	}

	#owl-demo .item img {
        display: block;
        margin: 0 auto;
        max-width: 700px;
        height: auto;
        max-height: 450px;
    }

    .customNavigation {
    	margin: 15px 0 0 0;
    	text-align: center;
	}
		
	.customNavigation a {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.btn {
		margin: 0 5px;
		color: #000;
		padding: 5px 10px;
		font-size: 20px;
		border: 1px solid rgba(0,0,0,0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.btn:hover {
		cursor: pointer;
		color: #eeb301;
    	font-weight: 400;
    	/*border: 1px solid black;*/
	}
}
/* @1024px */

@media screen and (max-width: 1024px) {
	.work-title { font-size: 35px; width: 68%;}
	.position {font-size: 18px;}

	.company {margin-top: -70px;}
}

/* @960px */

@media screen and (max-width: 960px) {
	.work-title{ font-size: 30px;}
	.description {
		margin-left: 80px;
	}
	.work-nav span {
		padding-right: 45px;
	}

}

/* @750px */

@media screen and (max-width: 750px) {
	#work-item {
		position: relative;
		top: 170px;
		text-align: center;
		float: none;
		width: 100%;
		margin: 0 auto 0 auto;
	}

	.work-title { 
		font-size: 35px;
		position: relative;
		text-align: center;
		width: 100%;
		margin: 0;
		line-height: 70px;
		float: none;

	}

	.position {
		font-size: 18px;
		font-weight: 400;
	}

	.company {
		margin: 30px 0 30px 0;
		text-align: center;
		float: none;
		font-weight: 200;
		color: #9f9f9f;
	}


	.company-logo {
		width: 120px;
		margin-bottom: 10px;
		opacity: 0.8;
	}

	.work-links {
		float: none;
		text-align: center;
	}

	.description {
		float: none;
		text-align: center;
		position: relative;
		margin: 0 auto 30px auto;
		padding: 0 30px;
	}

	.full-details {
		position: relative;
		top:30px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		padding: 10px 15px;
		color: #eeb301;
		border: 1px solid #000;
	}

	.full-details:hover {
		color: #eeb301;
		border: 1px solid #000;

	}

	.work-nav {
		position: relative;
		text-align: center;
		padding: 0;
		margin: 70px auto 30px auto;
	}

	.work-nav span {
		padding: 0 50px;
	}

	#owl-demo {
		width: 100%;
		display: block;
		overflow: hidden;
		text-align: center;
		margin: 200px auto 45px auto;
	}

	#owl-demo .item img {
        display: block;
        margin: 0 auto;
        max-width: 500px;
        height: auto;
        max-height: 450px;
        overflow: hidden;
    }

    .customNavigation {
    	position: relative;
    	top: 170px;
    	text-align: center;
	}
		
	.customNavigation a {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.btn {
		margin: 0 5px;
		color: #000;
		padding: 5px 10px;
		font-size: 28px;
		border: 1px solid rgba(0,0,0,0);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.btn:hover {
		cursor: pointer;
		color: #eeb301;
    	font-weight: 400;
    	/*border: 1px solid black;*/
	}

}




